body, section, article, aside {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

section {
  background-color: lightblue;
  margin: 0 auto;
  max-width: 1000px;
}

/* 
section::after {
  clear: both;
  content: "";
  display: block;
} */

.column {
  box-sizing: border-box;
  padding: 1rem;
}

article {
  background-color: lightgreen;
  float: left;
  width: 70%;
}

aside {
  background-color: salmon;
  float: none;
  overflow: hidden;
}

footer {
  background-color: lightyellow;
  clear: both;
  padding: 1rem;
}