* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font: 16px Helvetica, Arial, sans-serif;
}

section {
  background-color: #303030;
  column-gap: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "box-1 box-2 box-3 box-4"
    "box-5 box-6 box-7 box-8";
  max-width: 1000px;
  margin: auto;
  row-gap: 15px;
  padding: 1%;
}

@media screen and (max-width: 899px) {
  section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "main main main"
      "box-1 box-2 box-3"
      "box-4 box-5 box-6"
      "box-7 box-8 .";
  }
}

@media screen and (max-width: 599px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "main main"
      "box-1 box-2"
      "box-3 box-4"
      "box-5 box-6"
      "box-7 box-8";
  }
}

@media screen and (min-width: 1280px) {
  section {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
      "header header"
      "main box-1"
      "main box-2"
      ". box-3"
      ". box-4"
      ". box-5"
      ". box-6"
      ". box-7"
      ". box-8";
    max-width: 100%;
  }
}

header {
  color: inherit;
  grid-area: header;
  text-align: center;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 48px
}

figure {
  font-size: 0;
}

figure.main {
  background-color: white;
  grid-area: main;
}

figure.main img {
  max-width: 100%;
  margin: auto;
  padding: 15px;
}

.main figcaption {
  background-color: #303030;
  color: white;
  font-size: 16px;
  height: 0;
  padding-top: 10px;
  padding-bottom: 2rem;
}

figure.tn {
  background-color: white;
  padding: 0;
}

figure.tn img {
  border: 3px white solid;
  max-width: 100%;
}

@media screen and (min-width: 1280px) {
  .main figcaption {
    bottom: -28px;
    left: 20px;
    padding: 0;
    position: relative;
  }

  figure.tn img {
    border-width: 10px;
  }
}

figure.box-1 {
  grid-area: box-1;
}

figure.box-2 {
  grid-area: box-2;
}

figure.box-3 {
  grid-area: box-3;
}

figure.box-4 {
  grid-area: box-4;
}

figure.box-5 {
  grid-area: box-5;
}

figure.box-6 {
  grid-area: box-6;
}

figure.box-7 {
  grid-area: box-7;
}

figure.box-8 {
  grid-area: box-8;
}